//Footer Info-contact
.contact-footer.row.col-xs-12(style="background: url(./images/backgrounds/bk-footer.png) center no-repeat;")
  .limiter__container
    .header-contact-footer
      .row.middle-xs
        .col-xs-12.col-sm-7.middle-xs.start-xs
          ul.row.center-xs.start-sm
            li
              a(hreft="") COMPRAR
            li
              a(hreft="") VENDER
            li
              a(hreft="") PUBLICAR INMUEBLE
        .col-xs-12.col-sm-4.middle-xs.center-xs.end-sm
          img(src="./images/logo/logo-white.svg", alt="Logo")
    .body-contact-footer
      .row.middle-xs
        .row.middle-xs.center-xs.start-sm.col-xs-12.col-sm-2.social_icons
          a(href="#", title="Facebook").col-xs-4
            img.social-icon.to-svg(src="./images/icons/icon-facebook.svg", alt="Facebook")
          a(href="#", title="Twitter").col-xs-4
            img.social-icon.to-svg(src="./images/icons/icon-twitter.svg", alt="Twitter")
          a(href="#", title="Instagram").col-xs-4
            img.social-icon.to-svg(src="./images/icons/icon-instagram.svg", alt="Instagram")
        .row.middle-xs.col-xs-12.col-sm-10.center-xs.end-sm.publish-imm-footer
          .col-xs-8.col-sm-10
            p PUBLIQUE SU INMUEBLE
              span AGENDE UNA CITA
          .coL-xs-4.col-sm-2
            a.btn.orange(href="") aquí
    .contact-info-footer.row.between-xs
      .col-xs-12.col-sm-3.center-xs.item-info
        p 3182801504
      .col-xs-12.col-sm-6.center-xs.item-info
        p CALLE 16#14-41 / OF.905-ED. PALMA REAL
      .col-xs-12.col-sm-3.center-xs.item-info
        p DUITAMA - BOYACÁ
//End footer Info-contact
//Map
#map.medio__mapa(data-map-lat="4.606406", data-map-lon="-74.078435", data-map-img="./images/icons/icon-map.png")
//End Map
//Footer
footer.row.col-xs-12
  .limiter__container.center-xs.middle-xs
    p © 2010 - 2017 Inmobiliaria Contreras SAS. Todos los derechos reservados. Términos y Condiciones | Política de Privacidad
//End Footer