.btn-menu
    include __botonmenu
.content-header.row.middle-xs
  .limiter__container.not-padding
    header
      .col-xs-12.row.between-xs.middle-xs.bar-menu
        .col-xs-12.col-sm-3.center-xs.start-sm
          a(href="index.html")
            img(src="images/logo/logo.svg", alt="logo index")
        .col-xs-12.col-sm-7.row.middle-xs.end-xs
          include __menu