section.immovables.row.between-xs.col-xs-12.padding-top.padding-botton
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm01.png) center no-repeat;")
      .hover-item
      .img-details
        p.red VENTA
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm02.png) center no-repeat;")
      .hover-item
      .img-details
        p.red VENTA
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm03.png) center no-repeat;")
      .hover-item
      .img-details
        p.red VENTA
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm01.png) center no-repeat;")
      .hover-item
      .img-details
        p.purple ARRIENDO
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm02.png) center no-repeat;") 
      .hover-item
      .img-details
        p.red VENTA
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  //Item immovable
  .item-immovable.col-xs-12.col-sm-6.col-md-4.row.center-xs
    .img-imm(style="background: url(./images/immovables/imm03.png) center no-repeat;")
      .hover-item
      .img-details
        p.red VENTA
        span 5
    .details
      p $ 1'300.900
      h4 La esperanza -
        span.city-imm Duitama
      .row.center-xs.middle-xs.charac
        .item-charac
          p 93 mts
        .item-charac
          p 3 hab
        .item-charac
          p 2 par
      a.view-more(href="inmueble.html",) Ver más
  //End item immovable
  .col-xs-12.center-xs
    a.btn.purple(href="") cargar más
//End immovables