extends _base

block content

  //Header not index
  .padding-botton
    .img_header(style="background: url(images/backgrounds/bk-header-2.png)center no-repeat; background-size: cover; height: 120px")
  //End header
  .limiter__container.row.col-xs-12.content-imm
    .col-xs-12.title-imm
      h3 ¿Como escoger tu zona ideal para vivir?
    .flexslider.col-xs-12
      ul.slides
        li
          img(src='./images/immovables/1000x550/imm-01.png')
    section.row.col-xs-12
      .col-xs-12
        .description-imm(style="padding: 0;")
          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quasi in tenetur placeat nesciunt possimus voluptas minus illo tempora dolore iure magnam dignissimos cupiditate vitae molestias recusandae perferendis, aperiam consequatur!

          p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Beatae quasi in tenetur placeat nesciunt possimus voluptas minus illo tempora dolore iure magnam dignissimos cupiditate vitae molestias recusandae perferendis, aperiam consequatur! Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis necessitatibus modi pariatur quaerat repudiandae unde quam architecto dolor rerum magnam deserunt vitae id illo tempore, corrupti vero quisquam! Debitis, architecto. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Architecto nostrum modi tempore, provident aliquid nobis laudantium, deserunt voluptates, commodi eligendi ex earum eveniet possimus exercitationem facere soluta recusandae. Repellendus, commodi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Error ratione quisquam sint in rerum perferendis quibusdam eos earum, porro praesentium maxime repellendus, voluptate, quis nesciunt maiores. Eum velit similique iure.
      .col-xs-12.row.end-xs.padding-top
        a(href="index.html").btn.orange Volver
  include __footer
  